<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Category</title>
</head>
<body>
<h1>New Category</h1>
<form action="#" th:action="@{/category/create}" method="post" th:object="${category}" >
    <table >
        <tr>
            <td>Name</td>
            <td><input th:field="*{categoryName}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea th:field="*{description}"></textarea></td>
        </tr>
    </table>
    <button type="submit">Submit</button>
</form>
<a th:href="@{/category/list}">Back to list</a>
</body>
</html>